/*  naranja #FFCA05*/
/* rojo #DC1736 */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
li{
    list-style-type: none;
}
*:focus{
    outline: none;
        }
.clearfix {zoom: 1;}
.clearfix:after {
            content: '.';
            clear: both;
            display: block;
            height: 0;
            visibility: hidden;
        } 
html,    
body{
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.panel-title-specific
{
    text-align:left;

}
.logo{    
    width: 100%;
    max-width: 200px;
    height: 65px;
    widows: auto;
    float: left;
    margin-top: 10px;
}
.col-sm-3{
    max-width: 200px;

}

.search-icon{
    position: absolute;
    right: 4px;
    top: 6%;
    cursor: pointer;
    font-size: 90%;
   

}

.search-bar{
    position: relative;
    margin-top:30px;
    margin-right: 10px;
    float: right;
    border-radius: 200px;
    border-style: solid;
    border-color: #DC1736;
    width: 170px;
    height: 30px;
    right: 10px;
    top: 6%;
    transition: width 1s;
    background-color: rgba(163, 128, 0, 0.226);

}
.search-bar-colapsed{
    position: relative;
    margin-top:30px;
    margin-right: 10px;
    float: right;
    border-style: solid;
    border-color: #DC1736;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 6%;    
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
}


.sear-box{
    border-style:none;
    background-color: transparent;
    margin-left: 6px;
    width: 80%;
    font-size: 90%;
    vertical-align: top;
}

header{
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #FFCA05;
    
}
.jumbotron p{
    font-size: 90%;
    text-align: center;
    font-weight: bold;
}

footer{
    padding-top: 20px;
    font-size: 80%;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #FFCA05; 
    text-align: left;
}

.footer-text{
    padding-left: 25px;    
}
.footer-date{
    font-weight: bold;
    font-size: 80%;
    text-align: center;
}
embed{
    width: 100%;
}

.modal-open[style] {/* avoid shift left when open modal */
    padding-right: 0px !important;
}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.report-container{
    font-size: 80%;  
}

.panel-primary {
    border-color: rgb(0, 0, 0);
}
.panel-primary .panel-heading{
    background-color: rgb(139, 139, 139);
    border-color: rgb(139, 139, 139);
}