<input type="text"    placeholder="Digite el Cliente de la orden">
 
  <select name="id_cliente_orden" id="id_cliente_orden" class="form-control group_platillos">
    <option value="P">Pendiente</option>
    <option value="R">Rechazada por el cliente</option>
    <option value="C">Preparando por la cocina</option>
    <option value="L">Lista</option>
	<option value="E">Entregada</option>
  </select>
  <input type="submit" value="Submit">
  
  
    $("#platillo_cont").html(parseInt($("#platillo_cont").html()) +1);
    $("#id_platillos").append('<div class="input-group" id="orden_platillo'+ $("#platillo_cont").html() +'"> \
            <input  type="text" class="form-control group_platillos" placeholder="Platillo Id">\
            <div class="input-group-btn"> \
            <button onclick="eliminar_platillo_orden_agregar('+ $("#platillo_cont").html() +')"  class="btn btn-danger" type="submit"> \
                <i class="glyphicon glyphicon-minus"></i> \
            </button> \
            </div> \
        </div>');   
